body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.card {
  background-color: white;
  width: 400px;
  margin: 1rem auto;
}

img {
  width: 100%;
}

.card-body {
  padding: 1rem;
}

.tag {
  background-color: #2a7a2a;
  color: white;
  padding: 0.4rem 0.5rem 0.18rem;
}

h2 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

p {
  margin-bottom: 1rem;
}
